<div class="wrapper">
    <div style="position: fixed;">
        <button type="button"  class="btn btn-primary" style="margin-top:100px;"
            id="sidebarCollapse">
            <i class="fas fa-arrow-circle-right"></i>
        </button>
    </div>

    <nav *ngIf="select" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" id="sidebarCollapse2">&times;</a>
        <div class="heading">HTML5 Tutorial</div>
        <div class="underline"></div>
        <a id="1" href="#" routerLink="/htmlcourse/home" routerLinkActive="active">HTML Home</a>
        <a id="2" href="#" routerLink="/htmlcourse/intro" routerLinkActive="active">HTML Introduction</a>
        <a href="#" routerLink="/htmlcourse/basic" routerLinkActive="active">HTML Basic</a>
        <a id="3" href="#" routerLink="/htmlcourse/htmleditor" routerLinkActive="active">HTML Editor</a>
        <a id="4" href="#" routerLink="/htmlcourse/elements" routerLinkActive="active">HTML Elements</a>
        <a id="5" href="#" routerLink="/htmlcourse/attributes" routerLinkActive="active">HTML Attributes</a>
        <a id="6" href="#" routerLink="/htmlcourse/paragraphs" routerLinkActive="active">HTML Paragraphs</a>
        <a id="7" href="#">HTML heading</a>
        <a id="8" href="#">HTML Styles</a>
        <a id="9" href="#">HTML Text Formatting</a>
        <a id="10" href="#">HTML Quotation</a>
        <a id="11" href="#">HTML Comments</a>
        <a id="13" href="#">HTML Colors</a>
        <a id="14" href="#">HTML CSS</a>
        <a id="15" href="#">HTML Links</a>
        <a id="16" href="#">HTML Images</a>
        <a id="17" href="#">HTML Table</a>
        <a id="18" href="#">HTML List</a>
        <a id="19" href="#">HTML Block</a>
        <a id="20" href="#">HTML Classes</a>
        <a id="21" href="#">HTML Id</a>
        <a id="22" href="#">HTML Head</a>
        <div class="heading">HTML Forms</div>
        <div class="underline"></div>
        <a id="23" href="#">HTML Form</a>
        <a id="24" href="#">HTML Form Elements</a>
        <a id="25" href="#">HTML Input Types</a>
        <a id="26" href="#">HTML Input Attributes</a>
        <div class="heading">HTML HTML5</div>
        <div class="underline"></div>
        <a id="27" href="#">HTML5 Intro</a>
        <a id="28" href="#">HTML5 Supports</a>
        <a id="29" href="#">HTML5 New Elements</a>
        <a id="30" href="#">HTML5 Semantics</a>
        <a id="31" href="#">HTML5 Migration</a>
        <div class="heading">HTML Graphics</div>
        <div class="underline"></div>
        <a id="32" href="#">HTML Canvas</a>
        <a id="33" href="#">HTML SVG</a>
        <div class="heading">HTML Media</div>
        <div class="underline"></div>
        <a id="34" href="#">HTML Media</a>
        <a id="35" href="#">HTML Video </a>
        <a id="36" href="#">HTML Audio</a>
        <a id="37" href="#">HTML YouTube </a>
        <br><br><br><br>

    </nav>

    <nav *ngIf="!select" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" id="sidebarCollapse2">&times;</a>
        <br>
        <div class="heading">JS Tutorial</div>
        <div class="underline"></div>
        <a id="1" href="#" routerLink="/jscourse/home" routerLinkActive="active">Js Home</a>
        <a id="2" href="#" routerLink="/jscourse/intro" routerLinkActive="active">Js Introduct</a>
        <a id="3" href="#" routerLink="/jscourse/where" routerLinkActive="active">Js Where To</a>
        <a id="4" href="#" routerLink="/jscourse/output" routerLinkActive="active">Js output</a>
        <a id="5" href="#" routerLink="/jscourse/statements" routerLinkActive="active">Js statements</a>
        <a id="6" href="#">Js syntax</a>
        <a id="7" href="#">Js comments</a>
        <a id="8" href="#">Js variables</a>
        <a id="9" href="#">Js Operators</a>
        <a id="10" href="#">Js Arithmetic</a>
        <a id="11" href="#">Js Assignment</a>
        <a id="13" href="#">Js Functions</a>
        <a id="14" href="#">Js Objects</a>
        <a id="15" href="#">Js Events</a>
        <a id="16" href="#">Js Strings</a>
        <a id="17" href="#">Js Numbers</a>
        <a id="18" href="#">Js Arrays</a>
        <a id="19" href="#">Js Date</a>
        <a id="20" href="#">Js Math Object</a>
        <a id="21" href="#">Js Random</a>
        <a id="22" href="#">Js Booleans</a>
        <a id="23" href="#">Js if else</a>
        <a id="24" href="#">Js switch</a>
        <div class="heading">Js Forms</div>
        <div class="underline"></div>
        <a id="25" href="#">Js forms</a>
        <a id="26" href="#">JsForm API </a>
        <div class="heading" href="#">JS objects</div>
        <div class="underline"></div>
        <a id="27" href="#">Objects</a>
        <a id="28" href="#">Object Properties</a>
        <a id="29" href="#">Object Methods</a>
        <a id="30" href="#">Object Accessors</a>
        <a id="31" href="#">Object Constructors</a>
        <div class="heading" href="#">Js Functions</div>
        <div class="underline"></div>
        <a id="32" href="#">Function Definitions</a>
        <a id="33" href="#">Function Parameters</a>
        <a id="34" href="#">Function Invocation</a>
        <a id="35" href="#">Function Call </a>
        <a id="36" href="#">Function Apply</a>
        <a id="37" href="#">Js Closures</a>

        <br><br><br><br>

    </nav>
</div>