<!-- start home sectio -->
<div id="home" class="dark2">
    <!-- start of navigation -->
    
    <!-- end of navigation -->
    <!-- start landing page -->
    <div class="landing">
        <div class="home-wrap">
            <div class="home-inner">
                <ul class="slideshow">
                    <li><span>Image 01</span>
                        <div></div>
                    </li>
                    <li><span>Image 02</span>
                        <div></div>
                    </li>
                    <li><span>Image 03</span>
                        <div></div>
                    </li>
                    <li><span>Image 04</span>
                        <div></div>
                    </li>
                    <li><span>Image 05</span>
                        <div></div>
                    </li>
                    <li><span>Image 06</span>
                        <div></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="caption text-center">
    <h1>Welcome To StudyGURU</h1>
    <p class="c2">Learn HTML,CSS,Bootstrap and more</p>
    <a class="btn btn-outline-light btn-lg c3" href="#course">
        <h4>Get Started</h4>
    </a>
</div>


<!-- end home section -->
<!-- start course sectio -->
<div id="course" class="offset">
    <div class="col-12 narrow text-center">
        <h1> Advance Designing</h1>
        <p>Start Learning HTML To Create Your Desired Web Site And Learn CSS
            To Show Your Visuals And Learn Advance Bootstrap 4 To Make Your Web Site Responsive For All...</p>
    </div>
    <!-- end course section -->
    <!-- start course sectio -->
    <div id="course" class="offset">
        <!-- start humbotron -->
        <div class="jumbotron">
            <div class="narrow text-center">
                <div class="col-12">
                    <h3 class="heading">course</h3>
                    <div class="heading-underline" style="width: 10rem"></div>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <div class="feature">
                            <a href="#" routerLink="/htmlcourse/home"><img data-fa-transform="shrink-3 up-5"
                                src="https://img.icons8.com/color/80/000000/html-5.png"></a> 
                            
                            <h3><a href="#" style="text-decoration: none;" routerLink="/htmlcourse/home">HTML 5</a></h3>
                            <p>HTML5 is markup language for the structure and
                                presentation of World Wide Web contents.</p>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <img data-fa-transform="shrink-3 up-5"
                                src="https://img.icons8.com/color/80/000000/css3.png">

                            <h3>CSS 3</h3>
                            <p>CSS 3 is used to describe the look and formatting of a document </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <img data-fa-transform="shrink-3 up-5"
                                src="https://img.icons8.com/color/80/000000/bootstrap.png">

                            <h3>Bootstrap 4</h3>
                            <p>Bootstrap is the most popular CSS Framework for developing responsive and
                                mobile-first websites.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end jumbotron -->
    </div>
    <!-- end course section -->
    <!-- start Adva sectio -->
    <div id="Advance" class="offset">
        <div class="fixed-background">
            <div class="row dark text-center">

                <div class="col-12">
                    <h3 class="heading">Advance</h3>
                    <div class="heading-underline" style="width: 13rem"></div>
                </div>
                <div class="col-md-6">
                    <div class="feature">
                            <a href="#" routerLink="/jscourse/home"><img data-fa-transform="shrink-3 up-5" src="https://img.icons8.com/nolan/64/000000/js.png"></a> 

                        <h3><a href="#" style="text-decoration: none;" routerLink="/jscourse/home">JavaScript</a></h3>


                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature">
                        <img data-fa-transform="shrink-3 up-5"
                            src="https://img.icons8.com/ios-filled/64/000000/jquery.png">

                        <h3>Jquery</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature">
                        <i class="fab fa-node fa-5x" style="color: green"></i>

                        <h3>NodeJs</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature">
                        <img data-fa-transform="shrink-3 up-5"
                            src="https://img.icons8.com/color/65/000000/angularjs.png">

                        <h3>AngularJs</h3>
                    </div>
                </div>

            </div>
            <div class="fixed-wrap">
                <div class="fixed"></div>
            </div>


        </div>
    </div>

    <!-- end Adva section -->
    <!-- start fun sectio -->
    <div id="fun" class="offset">
        <div class="jumbotron text-center">
            <h2>Have Some Fun</h2>
            <div class="heading-underline" style="width: 15rem"></div>
            <div id="particles-js"></div>
            

        </div>

    </div>
    <!-- end fun section -->
    <!-- start contect sectio -->


    <div id="contect" class="offset">
        <div style="background-color: purple;margin-top:-1rem">
            <footer class="dark2">
                <div>
                    <div class="row justify-content-center">
                        <div class="col-md-5 text-center">
                            <img src="https://img.icons8.com/nolan/110/000000/reading.png">
                            <h1 class="logo"> StudyGURU</h1>
                            <strong>contect Info:</strong>
                            <p>+91 9106997706<br>email@gmail.com</p>
                            <img src="https://img.icons8.com/nolan/50/000000/facebook.png">
                            <img src="https://img.icons8.com/nolan/50/000000/twitter.png">
                            <img src="https://img.icons8.com/nolan/50/000000/instagram-new.png">
                            <hr class="socket">
                            <p>Copyright &copy@StudyGURU. All Rights Reserved.</p>
                            <p>This website is developed by DDU CE sem 5 students</p>
                        </div>
                    </div>
                </div>

            </footer>
        </div>

    </div>
    <!-- end contect section -->


    <!--Modal: Login / Register Form-->